main{
  min-height: 80vh;
}
.navbar{
  background-color: #66e71af6 !important;
  box-shadow: -2px -2px 8px rgb(253, 251, 251),
                -2px -2px 12px rgba(255, 255, 255, 0.281),
                inset 2px 2px 4px rgba(255, 255, 255, 0.034),
                2px 2px 8px rgba(0, 0, 0, 0.082);
  width: 100%;
  position: fixed;
  z-index: 1;
  
}
.rounded{
  box-shadow: -2px -2px 8px rgba(255,255,255,1),
              -2px -2px 12px rgba(255, 255, 255, 0.281),
              inset 2px 2px 4px rgba(255, 255, 255, 0.034),
              2px 2px 8px rgba(0, 0, 0, 0.082);
              transition: transform 0.3s;
}
.rounded:hover{
  box-shadow: -2px -2px 8px rgba(255,255,255,1),
              -2px -2px 12px rgba(255, 255, 255, 0.411),
              inset 2px 2px 4px rgba(255, 255, 255, 0.158),
              2px 2px 8px rgba(0, 0, 0, 0.192);
              transform: scale(1.1);
}
.home{
  margin-top: 100px;
}
h1{
  padding: 15px;
  letter-spacing: 5px;
}
h2{
  font-size: 18px;
  padding: 10px;
}
.badge{
  color: white;
  background-color: #ee5610;
}